@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway|Slabo+27px|Ubuntu');
nav a {
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	background-color: #494949;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

nav a:hover {
	background-color: #333333;
}

nav:hover,
footer:hover {
	opacity: 1;
}

.guardian {
	background-image: url("guardian.png");
}

.base {
	background-image: url("base.png");
}

.tunnel {
	background-image: url("tunnel.png");
}

.nether {
	background-image: url("nether.png");
}

body {
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Slabo 27px', serif;
}

.text {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	margin-left: 23%;
	margin-right: 23%;
	margin-bottom: 70px;
    text-align: center;
	color: #000000;
	padding: 1px 10px 1px 10px;
}

p a:hover {
	color: #000088;
	text-decoration: underline;
}

p a {
	text-decoration: none;
	color: #000088;
	font-weight: bold;
}

ol {
	padding-right: 10px;
	padding-bottom: 10px;
}

ol, ul, .listheading {
	text-align: left;
	font-family: 'Ubuntu', sans-serif;

}

.leftAlign {
	text-align: left;
	padding-bottom: 10px;
	padding-left: 10px;
}

.top {
	margin-top: 60px;
}

nav,
footer {
	background-color: #999999;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	opacity: 1;
}

footer {
	bottom: 0;
	border-top: 1px solid black;
}

nav {
	border-bottom: 1px solid black;
	top: 0;
}

h1 {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

p {
	font-size: 120%;
}

.bottom {
	font-size: 70%;
}

.listheading {
	font-size: 100%;
}